<div class="{{ styles.root }} {{#if isMine}}{{ styles.root--my }}{{/if}}">
                    
    <div>{{item.content}}</div>
    <div class="{{ styles.root-time}}">{{messOwner}} {{messageTime}} </div>
</div>
