<div class="{{ styles.root }} {{#if isMine}}{{ styles.root--my }}{{/if}}">
                    
    <div class="{{ styles.root_text}}">{{storeItem.content}}</div>
    <div class="{{ styles.root_time}}">{{messOwner}} {{messageTime}} </div>
</div>
