
<div class="{{ styles.root }} {{#if red}}{{ styles.root }}--red{{/if}}">
    
    <button class="{{ styles.root__button}}" type="{{type}}"> 

        {{#if iconClass}}<div class="{{ styles.root__icon }} {{iconClass}}" ></div>{{/if}}
        {{#unless noLabel}}<div class="{{ styles.root__label }}">{{label}}</div>{{/unless}}

    </button>

</div>
