
<div class="{{ styles.root }} {{#if red}}{{ styles.root }}--red{{/if}}">
    
    <button 
        {{#if gotoPageName}} onClick="gotoPage('{{gotoPageName}}')" {{/if}} >
        
        <span class="{{ styles.root }}__label">{{label}}</span>
        
    </button>

</div>
