
<div class="{{ styles.root }} {{#if red}}{{ styles.root }}--red{{/if}}">
    
    <button class="{{ styles.root }}__button" type="{{type}}"> 

        {{#if iconClass}}<div class="{{ styles.root }}__icon {{iconClass}}" ></div>{{/if}}
        {{#unless noLabel}}<div class="{{ styles.root }}__label">{{label}}</div>{{/unless}}

    </button>

</div>
