
{{#*inline "addedClassNameSum" ~}}
    {{~#unless noMargin}} {{ styles.root--margin }} {{~/unless~}}
    {{~#if addedClassName}} {{addedClassName}}{{~/if~}} 
{{~/inline}}

<div class="{{ styles.root }} {{> addedClassNameSum}}" >

    <div class="{{ styles.root__body}}" > 

        {{{components_simpleInput 
            attachName = "input"
            type = type
            value = value
            name = name
            accept = accept
            addedClasses = styles.root__simple-input
            [event:blur] = onBlurInput
            [event:focus] = onFocusInput
        }}}

        <label class="{{ styles.root__label}}">
            {{label}}
        </label>

    </div>
    
    {{{components_simpleError attachName="error" error=error }}}

</div>
