
{{#*inline "addedClassName" ~}}
    {{~#unless noMargin}} {{ styles.root }}--margin{{~/unless~}}
{{~/inline}}

<div class="{{ styles.root }} {{> addedClassName}}">

    <div class="{{ styles.root }}__body" 
        data-error="{{errorMessage}}"> 

        <input  class="{{ styles.root }}__input" 
            type="{{#if inputType}}{{inputType}}{{else}}text{{/if}}"
            placeholder=" " autocomplete="off"
            value="{{lookup item key}}" 
            name="{{key}}">

        <label class="{{ styles.root }}__label">
            {{label}}
        </label>

    </div>

</div>
