
{{#*inline "addedClassName" ~}}
    {{~#unless noMargin}} {{ styles.root }}--margin{{~/unless~}}
{{~/inline}}

<div class="{{ styles.root }} {{> addedClassName}}" >

    <div class="{{ styles.root }}__body" > 

        {{{components_simpleInput 
            attachName = "input"
            type = type
            value = value
            name = key
            parentClassName = styles.root
            [event:blur] = onBlurInput
            [event:focus] = onFocusInput
        }}}

        <label class="{{ styles.root }}__label">
            {{label}}
        </label>

    </div>
    
    {{{components_simpleError attachName="error" error=error }}}

</div>
