
<div class="{{ styles.[error-page] }}__wrapper">
    <div class="{{ styles.[error-page] }}">

        <header class="{{ styles.[error-page] }}__error-code">
            <h1>{{errorCode}}</h1>
        </header>

        <main class="{{ styles.[error-page] }}__message">
            <div>
                {{message}}
            </div>
        </main>

        <div class="{{ styles.[error-page] }}__back">

            {{#components_centerPane horizontalType = "center" verticalType = "center" withMarginTop=1 }}
                {{{components_textButton label="Назад к чатам" [event:click]=onClickIndex }}}
            {{/components_centerPane }}

        </div>

    </div>
</div>
