
<div class="{{ styles.root__wrapper }}">
    <div class="{{ styles.root }}">

        <header class="{{ styles.root__error-code }}">
            <h1>{{errorCode}}</h1>
        </header>

        <main class="{{ styles.root__message }}">
            <div>
                {{message}}
            </div>
        </main>

        <div class="{{ styles.root__back }}">

            {{#layout_centerPane }}
                {{{components_textButton label="Назад к чатам" [event:click]=goIndex }}}
            {{/layout_centerPane }}

        </div>

    </div>
</div>
