
<div class="{{styles.root}}">

    <div class="{{ styles.root__header }}">
       <div class="{{ styles.root__header__label }}">
            Чаты
       </div> 
       <div>
            {{{components_textButton label="Найти чат" [event:click]=openFindChat }}}
        </div>
    </div>

    <div class="{{ styles.root__list }}">

        <ul >
            {{#with this as | parent |}}

                {{#each item.chats }} <!--item.chats-->
                    {{{pages_index_components_chatItem item=this selectedChat=parent.item.selectedChat }}}
                {{/each}}

            {{/with}}
        </ul>

    </div>

</div>
