
<div>
{{#components_pane addeClassName=styles.root }}
    <div class="{{ styles.root }}__header">
       <div class="{{ styles.root }}__header__label">
            Чаты
       </div> 
       <div>
            {{{components_textButton label="Найти чат" type="button" }}}
        </div>
    </div>

    <div class="{{ styles.root }}__list">

        <ul class="people_list">
        {{#each item.chats }} <!--item.chats-->
            {{{pages_index_components_chatItem item=this}}}
        {{/each}}
        </ul>

    </div>
{{/components_pane }}
</div>
