
<li class="{{ styles.root }} {{#if isSelected }}{{ styles.root--selected }}{{/if}}">

    <div class="{{ styles.root__avatar }}">
        {{{components_avatar imageUrl=item.avatar diameter='S'
            avatarOwner=item.title }}}
    </div>

    <div class="{{ styles.root__label }}">
        {{item.title}} 
    </div>

    <div class="{{ styles.root__date }}">
        {{item.last_message.time}}
        
    </div>
</li>

