
<li class="{{ style.root }}">

    <div class="{{ style.root }}__avatar">
        {{{components_avatar imageUrl=item.avatar diameter='S'
            avatarOwner=item.display_name }}}
    </div>

    <div class="{{ style.root }}__label">
        {{item.display_name}}
    </div>

    <div class="{{ style.root }}__date">
        {{item.date}}
    </div>
</li>
