
<div class="{{ styles.root }}">

    {{{components_avatar imageUrl=getAvatar diameter='M' 
        avatarOwner=storeItem.user.display_name }}}

    <h2 class="{{ styles.root }}__header">
        {{storeItem.user.display_name}}
    </h2>

    {{{components_textButton label="Меню" iconClass="menu-icon" noLabel=1 
        [event:click] = openPopupMenu }}}

</div>
