
<div class="{{ styles.root }}">

    <textarea  class="{{ styles.root }}__textarea" 
            type="{{inputType}}"
            placeholder="{{label}}" autocomplete="off"
            value="{{value}}" 
            name="{{name}}"
             ></textarea>

</div>
