<div class="{{ styles.root }}">
{{#components_form 
    attachName=FORM_ATTACHE_NAME
    [event:submit]=onSubmit }}

    <div>
        {{{components_input label="Старый пароль" type="password" name="oldPassword" value=item.oldPassword
            isValid=validatePassword }}}

        {{{components_input label="Новый пароль" type="password" name ="newPassword" value=item.newPassword
            isValid=validatePassword  
            attachName="inpPassword" }}}

        {{{components_input label="Новый пароль (еще раз)" type="password" value=item.newPassword
            isValid=validateCopyPassword 
            attachName="inpCopyPassword" }}}
    </div>
    
    <div class="{{ styles.root }}__button-cont">
        {{{components_button label="Изменить" type="submit" }}}
    </div>

    {{{components_simpleError attachName="error" error=error }}}
{{/components_form}}
</div>
