<div class="{{ styles.root }}">
{{#components_form 
    attachName=FORM_ATTACHE_NAME
    [event:submit]=onSubmit }}

    <div>
        {{{components_input label="Пароль" name="password" isValid=validatePassword }}}
        {{{components_input label="Повторите пароль" name="password" isValid=validatePassword }}}
    </div>
    
    <div class="{{ styles.root }}__button-cont">
        {{{components_button label="Изменить" type="submit" }}}
    </div>

    {{{components_simpleError attachName="error" error=error }}}
{{/components_form}}
</div>
