
{{#components_form submitPageName="index" noButtonCont=1 }}

    <div class="{{ styles.root }}">

        <div class="{{ styles.root }}__attach-cont">
            {{{components_textButton label="Прикрепить" type="button" }}}
        </div>

        <div class="{{ styles.root }}__input-cont">
            {{{components_textarea label="Сообщение" inputType="text" name="message" }}}
        </div>

        <div class="{{ styles.root }}__send-cont">
            {{{components_textButton label="Отправить" type="submit" }}}
        </div>
    </div>

{{/components_form}}


