
<div>
{{#components_form
    attachName="form"
    item=item 
    [event:submit]=onSubmit }}

    <div class="{{ styles.root }}">

        <div class="{{ styles.root }}__attach-cont">
            {{{components_textButton label="Прикрепить" type="button" }}}
        </div>

        <div class="{{ styles.root }}__input-cont">
            {{{components_textarea label="Сообщение" isValid=validateMessage key="message" }}}
        </div>

        <div class="{{ styles.root }}__send-cont">
            {{{components_textButton label="Отправить" type="submit" }}}
        </div>
    </div>

{{/components_form}}
</div>

