
<div class="{{ styles.root }}">

{{#if storeItem.selectedChat}}

    <div >
        {{{components_avatar imageUrl=getAvatar diameter='S' 
            avatarOwner=storeItem.selectedChat.title }}}
    </div>

    <div class="{{ styles.root__label }}">
        {{storeItem.selectedChat.title}}
        <div class="{{ styles.root__label__users }}">{{chatUsersStr}}</div>
    </div>

    <div class="{{ styles.root__menu }}">
        {{{components_textButton label="Меню чата" 
            iconClass="menu-icon" noLabel=1 
            [event:click] = openPopupChatMenu
            }}}
    </div>

 {{/if}}  

</div>
