
<div class="{{ styles.root }}">

{{#if item.selectedChat}}

    <div class="{{ styles.root__avatar }}">
        {{{components_avatar imageUrl=item.selectedChat.avatar diameter='S' 
            avatarOwner=item.selectedChat.title }}}
    </div>

    <div class="{{ styles.root__label }}">
        {{item.selectedChat.title}}
    </div>

    <div class="{{ styles.root__menu }}">
        {{{components_textButton label="Меню чата" 
            iconClass="menu-icon" noLabel=1 
            [event:click] = openPopupChatMenu
            }}}
    </div>

 {{/if}}  

</div>
