
<div class="{{ styles.root }}">

    <div class="{{ styles.root }}__avatar">
        {{{components_avatar imageUrl=profile.avatar diameter='S' 
            avatarOwner=item.display_name }}}
    </div>

    <div class="{{ styles.root }}__label">
        {{profile.display_name}}
    </div>

</div>
