<div class="{{ styles.root }}">
{{#components_form 
    attachName=FORM_ATTACHE_NAME
    [event:submit]=onSubmit }}

    <div class="{{ styles.root__input-cont }}">

        {{{components_input label="Имя или часть имени чата" 
            isValid = validateChatName
            value = item.filter           
            name="filter"  
            noMargin = 1
            addedClassName=styles.root__input 
        }}}
        
        {{{components_textButton label="Найти" 
            type="submit" 
            iconClass="send-icon" 
            noLabel=1 
        }}}

    </div>

    {{{components_simpleError attachName="error" error=error }}}

{{/components_form}}

{{#if withResult}}

    <div class="{{ styles.root__result }}">
    
    {{#if chats}}

            <div class="{{ styles.root__result-count }}" >Найдено чатов ({{ chats.length }}) </div>

            <div class="{{ styles.root__result-chats }}">
                {{#with this as | parent |}}
                    {{#each chats }}
                        
                        <div>
                            {{{components_textButton 
                                label=title 
                                datasetId = id
                                [event:click]=parent.selectChat }}}
                        </div>

                    {{/each}}
                {{/with}}
            </div>

    {{else}}
        Не удалось найти чаты
    {{/if}}

    </div>

{{/if}}

</div>
