<div class="{{ styles.root }}">
{{#components_form 
    attachName="form"
    [event:submit]=onSubmit }}

    <div>
        {{{components_input label="Логин" name="login" value=item.login
            isValid=validateLogin }}}
        {{{components_input label="Пароль" type="password" name="password" value=item.password
            isValid=validatePassword }}}
    </div>

    <div class="{{ styles.root__button-cont}}">
        {{{components_button label="Войти" type="submit" }}}
    </div>

    {{{components_simpleError attachName="error" error=error }}}
{{/components_form}}
</div>
