<div class="{{ styles.root }}">

    {{#layout_pane withBorder=1 secBackColor=1 addeClassName=styles.[left-pane] }}
        <section class="{{ styles.root }}__profile">
            {{{pages_index_components_profile item=item 
                openPopupMenu=openPopupMenu}}}
        </section>

        <nav class="{{ styles.root }}__chats">
            {{{pages_index_components_chatList item=item  }}}
        </nav>
    {{/layout_pane }}


    <main class="{{ styles.root }}__chat">

        {{#layout_pane addeClassName=styles.[chat-header] withBorder=1 }}
            {{{pages_index_components_chatHeader item=item 
                openPopupChatMenu=openPopupChatMenu }}}
        {{/layout_pane }}


        <div class="{{ styles.root }}__chat__messages">
            <section aria-label="Беседа"></section>
        </div>

        {{#layout_pane addeClassName=styles.[chat-input] secBackColor=1 withBorder=1 }}
            {{{pages_index_components_messageInput item=item 
                openPopupAttache=openPopupAttache }}}
        {{/layout_pane }}

    </main>

    <div class="{{ styles.root }}__url-for-check">
        <div>{{{components_textButton label="Авторизация" [event:click]=onClickLogin }}}</div>
        <div>{{{components_textButton label="Регистриция" [event:click]=onClickSign }}}</div>
        <div>{{{components_textButton label="Профиль" [event:click]=onClickProfile }}}</div>
        <div>{{{components_textButton label="404 ошибка" [event:click]=onClickError404 }}}</div>
        <div>{{{components_textButton label="500 ошибка" [event:click]=onClickError500 }}}</div>
    </div>

    {{#layout_popup attachName="popupAttache" }}
        {{{components_menu memuItems=attachMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName="popupChatMenu" }}
        {{{components_menu memuItems=chatMenuMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName="popupMenu" }}
        {{{components_menu memuItems=menuMenuItems }}}
    {{/layout_popup}}
    
</div>

