<div class="{{ styles.root }}">

    {{#layout_pane secBackColor=1 addeClassName=styles.[left-pane] }}
        <section class="{{ styles.root__profile }}">
            {{{pages_index_components_profile  
                openPopupMenu=openPopupMenu }}}
        </section>

        <nav class="{{ styles.root__chats }}">
            {{{pages_index_components_chatList 
                openFindChat=openFindChat }}}
        </nav>
    {{/layout_pane }}


    <main class="{{ styles.root__chat }}">

        {{#layout_pane addeClassName=styles.[chat-header] }}
            {{{pages_index_components_chatHeader 
                openPopupChatMenu=openPopupChatMenu }}}
        {{/layout_pane }}


        <div class="{{ styles.root__chat__messages }}">
            <section aria-label="Беседа">
                {{{pages_index_components_chatMessages }}}
            </section>
        </div>

        {{#layout_pane addeClassName=styles.[chat-input] secBackColor=1 }}
            {{{pages_index_components_messageInput 
                openPopupAttache=openPopupAttache }}}
        {{/layout_pane }}

        {{{pages_index_components_noSelChat }}}
        
    </main>

    {{#layout_popup attachName=CHILD_NAMES.Attache }}
        {{{components_menu memuItems=attachMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName=CHILD_NAMES.ChatMenu }}
        {{{components_menu memuItems=chatMenuMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName=CHILD_NAMES.Menu }}
        {{{components_menu memuItems=menuMenuItems }}}
    {{/layout_popup}}

    {{#layout_modalDialog attachName=CHILD_NAMES.AddUser title="Добавить пользователя"  }}
        {{{pages_index_modules_addUserDialogBody execute=ecexuteAddUser }}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.RemoveUser title="Удалить пользователя"  }}
        {{{pages_index_modules_removeUserDialogBody execute=ecexuteRemoveUser }}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.RemoveUser title="Пользователи чата"  }}
        {{{pages_index_modules_removeUserDialogBody execute=ecexuteRemoveUser }}}
    {{/layout_modalDialog}}
    
    {{#layout_modalDialog attachName=CHILD_NAMES.FindChat title="Поиск чата"  }}
        {{{pages_index_modules_findChatDialogBody execute=ecexuteFindChat }}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.CreateChat title="Создание чата"  }}
        {{{pages_index_modules_addChatDialogBody execute=executeCreateChat }}}
    {{/layout_modalDialog}}

    {{#layout_modalDialog attachName=CHILD_NAMES.AvatarChat title="Загрузка файла для аватара"  }}
        {{{pages_profile_modules_updateAvatarDialogBody 
            execute=ecexuteUpdataAvatar }}}
    {{/layout_modalDialog}}

</div>

