<div class="{{ styles.root }}">

    {{#layout_pane withBorder=1 secBackColor=1 addeClassName=styles.[left-pane] }}
        <section class="{{ styles.root }}__profile">
            {{{pages_index_components_profile item=item 
                openPopupMenu=openPopupMenu }}}
        </section>

        <nav class="{{ styles.root }}__chats">
            {{{pages_index_components_chatList item=item  
                openFindChat=openFindChat }}}
        </nav>
    {{/layout_pane }}


    <main class="{{ styles.root }}__chat">

        {{#layout_pane addeClassName=styles.[chat-header] withBorder=1 }}
            {{{pages_index_components_chatHeader item=item 
                openPopupChatMenu=openPopupChatMenu }}}
        {{/layout_pane }}


        <div class="{{ styles.root }}__chat__messages">
            <section aria-label="Беседа"></section>
        </div>

        {{#layout_pane addeClassName=styles.[chat-input] secBackColor=1 withBorder=1 }}
            {{{pages_index_components_messageInput item=item 
                openPopupAttache=openPopupAttache }}}
        {{/layout_pane }}

    </main>

    <div class="{{ styles.root }}__url-for-check">
        <div>{{{components_textButton label="Авторизация" [event:click]=goLogin }}}</div>
        <div>{{{components_textButton label="Регистриция" [event:click]=goSign }}}</div>
        <div>{{{components_textButton label="Профиль" [event:click]=goProfile }}}</div>
        <div>{{{components_textButton label="404 ошибка" [event:click]=goError404 }}}</div>
        <div>{{{components_textButton label="500 ошибка" [event:click]=goError500 }}}</div>
    </div>

    {{#layout_popup attachName=CHILD_NAMES.Attache }}
        {{{components_menu memuItems=attachMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName=CHILD_NAMES.ChatMenu }}
        {{{components_menu memuItems=chatMenuMenuItems }}}
    {{/layout_popup}}
    {{#layout_popup attachName=CHILD_NAMES.Menu }}
        {{{components_menu memuItems=menuMenuItems }}}
    {{/layout_popup}}

    {{#layout_modalDialog attachName=CHILD_NAMES.AddUser title="Добавить пользователя"  }}
        {{{pages_index_modules_addUserDialogBody}}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.RemoveUser title="Удалить пользователя"  }}
        {{{pages_index_modules_removeUserDialogBody}}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.FindChat title="Поиск чата"  }}
        {{{pages_index_modules_findChatDialogBody}}}
    {{/layout_modalDialog}}
    {{#layout_modalDialog attachName=CHILD_NAMES.CreateChat title="Создание чата"  }}
        {{{pages_index_modules_addChatDialogBody}}}
    {{/layout_modalDialog}}

</div>

