---
thisClassName: page-chat
addeClassNameLeftPane: page-chat__lef-pane
addeClassNameChatInput: page-chat__chat__input
---

{{#> layout/page/index }}
    <div class="{{thisClassName}}">


        {{#> components/pane/index withBorder=1 secBackColor=1 addeClassName=addeClassNameLeftPane }}
            <section class="{{thisClassName}}__profile">
               {{> pages/index/components/profile/index item=this.chat.profile }}
            </section>

            <nav class="{{thisClassName}}__chats">
               {{> pages/index/components/chatList/index }}
            </nav>
        {{/components/pane/index }}


        <section class="{{thisClassName}}__chat">

            <div class="{{thisClassName}}__chat__header">
               
            </div>

            <div class="{{thisClassName}}__chat__messages">
                <section aria-label="Беседа"></section>
            </div>

            {{#> components/pane/index withBorder=1 secBackColor=1 addeClassName=addeClassNameChatInput }}

            {{/components/pane/index }}

        </section>

        <div class="{{thisClassName}}__url-for-check">
            <div><a href="/src/pages/login/index.hbs">Авторизация</a></div>
            <div><a href="/src/pages/sign/index.hbs">Регистриция</a></div>
            <div><a href="/src/pages/profile/index.hbs">Профиль</a></div>
            <div><a href="/src/pages/error404/index.hbs">404 ошибка</a></div>
            <div><a href="/src/pages/error500/index.hbs">500 ошибка</a></div>
        </div>
    </div>

{{/layout/page/index}}