<div class="{{ styles.root }}">

    {{#components_pane withBorder=1 secBackColor=1 addeClassName=styles.[left-pane] }}
        <section class="{{ styles.root }}__profile">
            {{{pages_index_components_profile item=this.chat.profile }}}
        </section>

        <nav class="{{ styles.root }}__chats">
            {{{pages_index_components_chatList item=this.chat }}}
        </nav>
    {{/components_pane }}


    <main class="{{ styles.root }}__chat">

        {{#components_pane addeClassName=styles.[chat-header] withBorder=1 }}
            {{{pages_index_components_chatHeader item=this.activeChat }}}
        {{/components_pane }}


        <div class="{{ styles.root }}__chat__messages">
            <section aria-label="Беседа"></section>
        </div>

        {{#components_pane addeClassName=styles.[chat-input] secBackColor=1 withBorder=1 }}
                {{{pages_index_components_messageInput item=this.chat }}}
        {{/components_pane }}

    </main>

    <div class="{{ styles.root }}__url-for-check">
        <div>{{{components_textButton label="Авторизация" [event:click]="onClickLogin" }}}</div>
        <div>{{{components_textButton label="Регистриция" [event:click]='onClickSign' }}}</div>
        <div>{{{components_textButton label="Профиль" [event:click]='onClickProfile' }}}</div>
        <div>{{{components_textButton label="404 ошибка" [event:click]='onClickError404' }}}</div>
        <div>{{{components_textButton label="500 ошибка" [event:click]='onClickError404' }}}</div>
    </div>
</div>

