
<div class="{{ styles.root }}">

    <div class="{{ styles.root }}__left-col">

        <div class="{{ styles.root }}__settings-cont">

            {{#components_form 
                attachName="form"
                [event:submit]=onSubmit item=item }}

                <div>
                    {{{components_input label="Имя в чате" name="display_name" value=item.display_name }}}
                    {{{components_input label="Логин" name="login" isValid=validateLogin value=item.login }}}
                    {{{components_input label="Имя" name="first_name" isValid=validateName value=item.first_name }}}
                    {{{components_input label="Фамилия" name="second_name" isValid=validateName value=item.second_name }}}
                    {{{components_input label="Почта" name="email" isValid=validateEmail value=item.email }}}
                    {{{components_input label="Телефон" name="phone" isValid=validatePhone value=item.phone }}}
                </div>
                
                <div class="{{ styles.root }}__setting-button-cont">
                    {{{components_button label="Сохранить изменения" type="submit" }}}
                </div>

            {{/components_form}}

        </div>    

    </div>


    <div class="{{ styles.root }}__right-col">
        
        <div class="{{ styles.root }}__avatar-cont">
            {{{components_avatar clickLabel="Изменить аватар" [event:click]=updateAvatar
                clickLabel="Изменить аватар"
                imageUrl=item.avatar diameter='L'
                avatarOwner=item.display_name }}}
        </div>

        <div class="{{ styles.root }}__pass-cont">
            {{{components_textButton label="Изменить пароль" [event:click]=updatePassword }}}
        </div>

        <div class="{{ styles.root }}__logout-cont">
            <div>{{{components_textButton label="Выйти из профиля" [event:click]=goLogin
                    red=1 }}}</div>
        </div>
        
    </div>

</div>
