
{{#*inline "addedClassName" ~}}
    {{~#if secBackColor}} {{ styles.root }}--second-back-color{{~/if~}}
    {{~#if withBorder}} {{ styles.root }}--with-border{{~/if~}}
    {{~#if withMarginTop}} {{ styles.root }}--with-margin-top{{~/if~}}
    {{~#if h100}} {{ styles.root }}--h100{{~/if~}}
    {{~#if addeClassName}} {{addeClassName}}{{~/if~}}   
{{~/inline}}


<div class="{{ styles.root }} {{> addedClassName}}">
    <div data-content></div>
</div>
