
{{#*inline "addedClassName" ~}}
    {{~#if diameter}} {{ styles.root }}--{{diameter}} {{~/if~}} 
    {{~#if clickLabel}} {{ styles.root--clickable}} {{~/if~}} 
{{~/inline}}

<div class="{{ styles.root }} {{> addedClassName}}" >
     
    {{#if imageUrl}}
        <img class="{{ styles.root__img }}" src = "{{imageUrl}}"  
            alt="Аватарка {{avatarOwner}}"></img>
    {{else}}
        <div class="{{ styles.root__empty-image }}" 
            role="img" aria-label="Аватарка {{avatarOwner}}"></div>
    {{/if}} 

    {{#if clickLabel}}
        <div class="{{ styles.root__hover-block }}">
            <div class="{{ styles.root__hover-block__label }}">{{clickLabel}}</div>
        </div>
    {{/if}}
</div>
