
{{#*inline "addedClassName" ~}}
    {{~#if diameter}} {{ styles.root }}--{{diameter}}{{~/if~}} 
{{~/inline}}

<div class="{{ styles.root }} {{> addedClassName}}"
    {{#if gotoPageName}} onClick="gotoPage('{{gotoPageName}}')" {{/if}}
    >
     
    {{#if imageUrl}}
        <img class="{{ styles.root }}__img" src = "{{imageUrl}}"  
            alt="Аватарка {{avatarOwner}}"></img>
    {{else}}
        <div class="{{ styles.root }}__empty-image" 
            role="img" aria-label="Аватарка {{avatarOwner}}"></div>
    {{/if}} 

    {{#if gotoPageName}}
        <div class="{{ styles.root }}__hover-label">{{clickLabel}}</div>
    {{/if}}
</div>
