
<div class="{{ styles.root }}">

    <div>
        {{#each item.groups styles=styles }} <!--item.chats-->
        <div class="{{ ../styles.root__group }}">
            {{#layout_centerPane addeClassName=../styles.root__group-name}}
                {{groupName}}
            {{/layout_centerPane}}

            {{#each messages  }}
                <div class="{{ ../../styles.root__message}} {{#if my}}{{ ../../styles.root__message--my }}{{/if}}">
                    
                    <div>{{message}}</div>
                    <div class="{{ ../../styles.root__message-time}}">{{time}}</div>
                </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

</div>
